body{
	color: white;
	background-color:#EAEDED ;
	text-align: center;
	color: black;
}

#mensajedebienvenida{
	background-color: white;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;

}

#titulo{
	background-color: #138D75;
	height: 80px;
	top: 0; 
}

#menu{
	background-color: #0B5345;
	height: 40px; 
	top:1;

}

#Perfil{
	padding: 10px;
    background-color:#D6EAF8;
	height: 550px;
}

#infopersonal{
	padding: 10px;
    background-color: #D6DBDF;
	height: 350px;
}

#infoacademica{
	padding: 30px;
    background-color: #ABB2B9;
	height: 320px;
}


#instituciones{
	padding: 30px;
	height: 500px;
}

#Hobbies{
	padding: 20px;
	height: 700px;
	margin: 20px;
}

#habilidades{
	padding: 25px;
}